.tabs__content--news {
    width: 100%;
    
    @media (min-width: 1170px) {
        width: 555px;
    }

    & .news {
        &__list {
            row-gap: 24px;
        }

        &__item {
            margin-top: 0;
            display: grid;
            grid-template-columns: 120px auto;
            grid-template-areas: "img title" "img time";
            gap: 20px;

            @media (min-width: 1170px) {
                grid-template-columns: 170px auto;
            }
        }

        &__img {
            margin: 0;
            padding: 0;
            grid-area: img;
            position: relative;
            aspect-ratio: 1 / 1;

            @media (min-width: 1170px) {
                aspect-ratio: 4 / 3;
            }

            & img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                object-position: center;
            }
        }

        &__title {
            grid-area: title;
        }

        &__time {
            grid-area: time;
            align-self: end;
        }
    }
}