.parallax-window {
  padding-top: 33px;
  padding-bottom: 33px;
}
.slider {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/main-header/moose.jpeg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main-header/moose.jpeg);
}

a.inner-page__media-link:active {
  background-color: red;
}

.news-detail-page__description {
  min-width: 100%;
}

.service-page__description {
  min-width: 100%;
}

.collective-page__description {
  min-width: 100%;
}

.collectives {
  padding-top: 60px;
  padding-bottom: 90px;
  margin-bottom: 0;
}

.collectives_bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}

.calendar_today {
  padding: 0;
}

.calendar .day.has-event:after {
  background: #fc3f4d;
  top: calc(50% + .8em);
}

.calendar .day.calendar_today {
  background: #fc3f4d;
}

.affiche__link {
  margin: 5px auto;
}

.inner-page__about-links > li > .inner-page__about-link {
  min-width: 200px;
}

.afbf_feedback_poles .afbf_item_pole {
  margin: 10px 0px 5px;
}

.afbf_feedback_poles .afbf_name {
  color: #ffffff;
  opacity: 0.5;
}

.collective--choreo::before {
  background-image: url(../img/collective/dance.svg);
}

.tabs > label {
  padding: 15px;
}

/*Новые стили*/

.inner-page__about-links {
  gap: 15px;
  @media (min-width: 1170px) {
    margin-top: 0;
  }

  & > li {
    margin-right: 0;
  }
}

.history-page {
  &__carousel {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media (min-width: 1170px) {
    grid-template-rows: auto 80px auto;

    &__img {
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &__gallery {
      grid-column-start: 1;
      grid-column-end: 3;
      padding-right: 0;
      margin-top: 0;
    }

    &__gallery-wrap {
      width: 600px;
      margin: 0 auto;
    }

    &__carousel {
      max-width: unset;
      width: 100%;
      margin: 0 auto;
      padding: 0;

      & li {
        width: 100%;
      }


      & li img {
        aspect-ratio: 3 / 2;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.tabs {
  @media (min-width: 1170px) {
    margin-top: 15px;

    & > label {
      padding: 15px;
    }
  }
}
